@use 'variables.scss';

html {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: sans-serif;
  background-color: variables.$gray-lighten2;
  color: variables.$gray-darken2;
  overflow: auto !important;
}
body {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
@supports (height: 1lh) {
  p:empty {
    height: 1lh;
  }
}
@supports not (height: 1lh) {
  p:empty::after {
    content: '\00A0';
  }
}

div {
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
}
a {
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
}

blockquote {
  border-left: 5px solid #ddd;
  padding-left: 1rem !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-wrap: pretty;
}

h4,
h5,
h6 {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

// h1,
// h2 {
//   margin-top: 3.5rem;
//   margin-bottom: 1.5rem;
// }

// h1 {
//   font-size: 1.4rem;
// }

// h2 {
//   font-size: 1.2rem;
// }

// h3 {
//   font-size: 1.1rem;
// }

// h4,
// h5,
// h6 {
//   font-size: 1rem;
// }

// 画面サイズに応じて表示したり非表示にしたりする
// sm
.g-block-sm,
.g-inline-block-sm {
  display: none;
}

// lg
.g-block-lg {
  display: block;
}
.g-inline-block-lg {
  display: inline-block;
}

// 画面サイズに応じて text align を変更する
.g-text-cl {
  text-align: center;
}

@media only screen and (max-width: variables.$grid-breakpoint-md) {
  .g-block-lg,
  .g-inline-block-lg {
    display: none;
  }
  .g-block-sm {
    display: block;
  }
  .g-inline-block-sm {
    display: inline-block;
  }
  .g-text-cl {
    text-align: left;
  }
}

// items animation
@keyframes gFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes gFadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 60px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes gFadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes gFadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-80px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes gFadeInRight {
  from {
    opacity: 0;
    transform: translate3d(80px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes gZoomIn {
  from {
    opacity: 0.25;
    transform: scale3d(0.25, 0.25, 0.25);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes gZoomInUp {
  from {
    opacity: 0.25;
    transform: scale3d(0.25, 0.25, 0.25) translate3d(0, 150px, 0);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  }
}

@keyframes gZoomInRight {
  from {
    opacity: 0.25;
    transform: scale3d(0.25, 0.25, 0.25) translate3d(150px, 0, 0);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  }
}

.g-animation-initial-effect {
  opacity: 0;
  animation-fill-mode: forwards;
}
