@use 'variables.scss';

.g-theme-default {
  background-color: variables.$gray-lighten2;
  color: variables.$gray-darken2;

  a {
    color: variables.$link-normal;
  }
  a:link {
    color: variables.$link-normal;
  }
  a:hover {
    color: variables.$link-active;
  }
  a:active {
    color: variables.$link-active;
  }
  small {
    color: variables.$dimgray;
  }
  b {
    color: variables.$gray-darken2;
    font-weight: bolder;
  }

  .g-theme-app-body {
    background-color: variables.$gray-lighten2;
    color: variables.$gray-darken2;
  }
  .g-theme-header {
    background-color: rgba(64, 64, 64, 0.5);
  }
  .g-theme-footer {
    background-color: variables.$white;
    color: variables.$dimgray;
  }
  .g-theme-contents-card {
    background-color: variables.$white;
  }
  .g-theme-contets-item {
    &__header {
      background-color: #ccccff;
    }
    &__draggable {
      background-color: lightsteelblue;
      box-shadow: 0 0 8px royalblue;
      &--notion {
        color: variables.$blue;
      }
    }
  }
  .g-theme-edit-contents {
    color: variables.$black;
  }
  .g-theme-wysiwyg-editor {
    background-color: whitesmoke;
  }
}
