@use 'variables.scss';

$dark-theme-link-normal: lightskyblue;
$dark-theme-link-active: gold;

.g-theme-dark {
  background-color: variables.$black;
  color: variables.$white;

  a {
    color: $dark-theme-link-normal;
  }
  a:hover {
    color: $dark-theme-link-active;
  }
  a:active {
    color: $dark-theme-link-active;
  }
  small {
    color: variables.$silver;
  }

  .g-theme-app-body {
    background-color: variables.$black;
    color: variables.$white;
  }
  .g-theme-header {
    background-color: rgba(96, 96, 96, 0.5);
    color: variables.$white;
  }
  .g-theme-footer {
    background-color: #383838;
    color: variables.$white;
  }
  .g-theme-contents-card {
    background-color: #383838;
    color: variables.$white;
  }
  .g-theme-contents-item {
    &__header {
      background-color: variables.$black;
    }
    &__draggable {
      background-color: #002244;
      box-shadow: 0 0 8px lightsteelblue;
      &--notion {
        color: variables.$white;
      }
    }
  }
  .g-theme-edit-contents {
    color: variables.$black;
  }
  .g-theme-wysiwyg-editor {
    background-color: whitesmoke;
    color: variables.$black;
  }
}
