@use 'variables.scss';

.g-theme-default {
  background-color: variables.$gray-lighten25;
  color: variables.$gray-darken2;

  a {
    color: variables.$link-normal;
  }
  a:link {
    color: variables.$link-normal;
  }
  a:hover {
    color: variables.$link-active;
  }
  a:active {
    color: variables.$link-active;
  }
  small {
    color: variables.$dimgray;
  }
  b {
    color: variables.$gray-darken2;
    font-weight: bolder;
  }

  .g-theme-app-container {
    background-color: variables.$gray-lighten25;
    color: variables.$gray-darken2;
  }
  .g-theme-header {
    background-color: variables.$gray-darken3;
    opacity: 0.75;
  }
  .g-theme-footer {
    background-color: variables.$white;
    color: variables.$dimgray;
  }
  .g-theme-contents-card {
    background-color: variables.$white;
    box-shadow: 2px 2px 16px variables.$gray-lighten1;
  }
  .g-theme-contents-item {
    &__header {
      background-color: variables.$blue-lighten6;
    }
    &__draggable {
      background-color: variables.$gray-lighten25;
      box-shadow: 0 0 8px variables.$gray-darken1;
      &--notion {
        color: variables.$blue;
      }
    }
  }
  .g-theme-edit-contents {
    color: variables.$black;
  }

  .g-theme-wysiwyg-editor {
    background-color: whitesmoke;
    border-color: variables.$gray-lighten23;
    --g-theme-wysiwyg-editor-label-color: #{variables.$dimgray};
    --g-theme-wysiwyg-editor-label-focused-color: #{variables.$gray-darken1};
    --g-theme-wysiwyg-editor-placeholder-color: #{variables.$dimgray};
    --g-theme-wysiwyg-editor-hovered-background-color: #{variables.$gray-lighten4};
    --g-theme-wysiwyg-editor-focused-background-color: #{variables.$white};
  }

  .g-theme-modal {
    background-color: variables.$gray-lighten4;
    border-color: variables.$gray-lighten23;
    .dismiss {
      color: variables.$primary;
    }
  }

  .g-theme-profile {
    dl {
      dt {
        color: variables.$gray-darken2;
        background-color: variables.$gray-lighten2;
      }
      dd {
        color: variables.$gray-darken5;
        background-color: variables.$gray-lighten4;
      }
    }
  }

  .g-theme-slidable-item {
    color: variables.$white;
    background-color: variables.$gray-lighten2;
  }
}
