@use 'variables.scss';

.g-theme-dark {
  --background-color: #{variables.$gray-darken3};
  --text-color: #{variables.$white};
  --link-color: #{variables.$blue-lighten3};
  --link-active-color: #{variables.$link-active};
  --link-text-color: #{variables.$white};
  --warning-color: #{variables.$accent};

  background-color: var(--background-color);
  color: var(--text-color);

  a {
    color: var(--link-color);
  }
  a:link {
    color: var(--link-color);
  }
  a:hover {
    color: var(--link-active-color);
  }
  a:active {
    color: var(--link-active-color);
  }
  small {
    color: variables.$silver;
  }

  .g-theme-app-container {
    background-color: var(--background-color);
    color: var(--text-color);
  }

  .g-theme-header {
    background-color: rgba(variables.$gray-darken5, 0.75);
  }
  .g-theme-footer {
    background-color: variables.$gray-darken5;
    box-shadow: -2px 0 16px variables.$gray-darken3;
  }
  .g-theme-contents-card {
    background-color: variables.$gray-darken5;
    box-shadow: 2px 2px 16px variables.$black;
  }

  .g-theme-contents-item {
    &__header {
      background-color: variables.$blue-lighten2;
    }
    &__draggable {
      background-color: variables.$gray-darken3;
      box-shadow: 0 0 8px variables.$gray-lighten1;
      &--notion {
        color: variables.$blue-lighten3;
      }
    }
  }
  --guid-line-border-color: #{variables.$gray-darken3};

  .g-theme-contents-grid-row-caption {
    background-color: rgba(variables.$gray-darken5, 0.75);
    box-shadow: 2px 2px 16px rgba(variables.$black, 0.75);
  }

  .g-theme-wysiwyg-editor {
    background-color: variables.$gray-darken5;
    border-color: variables.$gray-darken2;
    --g-theme-wysiwyg-editor-label-color: #{variables.$gray-lighten2};
    --g-theme-wysiwyg-editor-label-focused-color: #{variables.$white};
    --g-theme-wysiwyg-editor-placeholder-color: #{variables.$gray-lighten1};
    --g-theme-wysiwyg-editor-hovered-box-shadow-color: #{variables.$gray-lighten2};
    --g-theme-wysiwyg-editor-focused-background-color: #{variables.$gray-darken5};
  }

  .g-theme-wysiwyg-contents {
    table {
      td {
        background-color: variables.$gray-darken15;
      }
      th {
        background-color: #546e7a;
      }
    }
  }

  .g-theme-modal {
    background-color: variables.$gray-darken2;
    .dismiss {
      color: variables.$warning;
    }
  }

  .g-theme-profile {
    dl {
      dt {
        color: variables.$gray-lighten3;
        background-color: variables.$gray-darken2;
      }
      dd {
        background-color: variables.$gray-darken3;
      }
    }
  }

  .g-theme-slidable-item {
    color: variables.$gray-lighten1;
    background-color: variables.$gray-darken2;
  }

  .g-theme-contents-menu-detail {
    background-color: variables.$gray-darken3;

    .g-theme-contents-menu-title {
      background-color: variables.$gray-darken5;
      box-shadow: 2px 2px 8px rgba(variables.$black, 0.75);
    }

    .g-theme-contents-menu-category {
      background-color: variables.$gray-darken5;
      box-shadow: 2px 2px 16px rgba(variables.$black, 0.75);
    }
  }
}
