@use 'variables.scss';

.g-theme-default {
  --background-color: #{variables.$gray-lighten25};
  --text-color: #{variables.$gray-darken3};
  --link-color: #{variables.$link-normal2};
  --link-active-color: #{variables.$cyan};

  background-color: var(--background-color);
  color: var(--text-color);

  a {
    color: var(--link-color);
  }
  a:link {
    color: var(--link-color);
  }
  a:hover {
    color: var(--link-active-color);
  }
  a:active {
    color: var(--link-active-color);
  }
  small {
    color: variables.$dimgray;
  }

  .g-theme-app-container {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  .g-theme-header {
    background-color: rgba(variables.$gray-darken3, 0.75);
  }
  .g-theme-footer {
    background-color: variables.$white;
  }
  .g-theme-contents-card {
    background-color: variables.$white;
    box-shadow: 2px 2px 16px rgba(variables.$gray-lighten1, 0.75);
  }

  .g-theme-contents-item {
    &__header {
      background-color: variables.$blue-lighten6;
    }
    &__draggable {
      background-color: variables.$gray-lighten25;
      box-shadow: 0 0 8px variables.$gray-darken1;
      &--notion {
        color: variables.$blue;
      }
    }
  }
  --guid-line-border-color: #{variables.$gray-lighten2};

  .g-theme-contents-grid-row-caption {
    background-color: rgba(variables.$white, 0.9);
    box-shadow: 2px 2px 16px rgba(variables.$gray-lighten2, 0.75);
  }

  .g-theme-wysiwyg-editor {
    background-color: variables.$white;
    border-color: variables.$gray-lighten23;
    --g-theme-wysiwyg-editor-label-color: #{variables.$dimgray};
    --g-theme-wysiwyg-editor-label-focused-color: #{variables.$gray-darken1};
    --g-theme-wysiwyg-editor-placeholder-color: #{variables.$dimgray};
    --g-theme-wysiwyg-editor-hovered-box-shadow-color: #{variables.$gray-darken15};
    --g-theme-wysiwyg-editor-focused-background-color: #{variables.$white};
  }

  .g-theme-wysiwyg-contents {
    table {
      td {
        background-color: #e4e4e4;
      }
      th {
        background-color: #cfdeee;
      }
    }
  }

  .g-theme-modal {
    background-color: variables.$gray-lighten4;
    border-color: variables.$gray-lighten23;
    .dismiss {
      color: variables.$primary;
    }
  }

  .g-theme-profile {
    dl {
      dt {
        color: variables.$gray-darken2;
        background-color: variables.$gray-lighten2;
      }
      dd {
        background-color: variables.$gray-lighten4;
      }
    }
  }

  .g-theme-slidable-item {
    color: variables.$white;
    background-color: variables.$gray-lighten2;
  }

  .g-theme-contents-menu-detail {
    background-color: variables.$gray-lighten15;

    .g-theme-contents-menu-title {
      background-color: variables.$gray-lighten4;
      box-shadow: 2px 2px 8px rgba(variables.$gray-lighten4, 0.75);
    }

    .g-theme-contents-menu-category {
      background-color: variables.$gray-lighten35;
      box-shadow: 2px 2px 16px rgba(variables.$gray-lighten35, 0.75);
    }
  }
}
