@use 'sass:map';

// colors same as bootstrap theme
$blue-darken3: #163278;
$blue-darken2: #303f9f;
$blue-darken1: #3949ab;
$blue: #0d6efd;
$blue-lighten1: #2979ff;
$blue-lighten2: #3694ff;
$blue-lighten3: #48a8ff;
$blue-lighten4: #90caf9;
$blue-lighten5: #bbdefb;
$blue-lighten6: #ccddff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$sienna: #a0522d;
$yellow: #ffff00;
$gold: gold;
$silver: silver;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;
$skyblue: skyblue;
$skyblue-lighten1: lightskyblue;
$indigo-lighten4: #e8eaf6;

$gray-darken6: #0e0e0e;
$gray-darken5: #181818;
$gray-darken45: #242424;
$gray-darken4: #303030;
$gray-darken35: #323232;
$gray-darken3: #383838;
$gray-darken2: #545454;
$gray-darken15: #606060;
$gray-darken1: #686868;
$dimgray: dimgray;
$gray: gray;
$lightgray: lightgray;
$gray-lighten1: #999;
$gray-lighten15: #aaa;
$gray-lighten2: #bbb;
$gray-lighten23: #ccc;
$gray-lighten25: #d4d4d4;
$gray-lighten3: #ddd;
$gray-lighten35: #e4e4e4;
$gray-lighten4: #eee;
$gray-lighten5: #f2f2f2;
$black: black;
$white: white;
$whitesmoke: whitesmoke;

$link-normal: #0033ff;
$link-normal2: #2962ff;
$link-active: hotpink;

$primary: #1976d2;
$secondary: #e0e0e0;
$accent: #ffab40;
$error: #f44336;
$info: #00acc1;
$success: #4caf50;
$warning: #ffff00;

// grid system
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$grid-breakpoint-sm: map.get($grid-breakpoints, sm);
$grid-breakpoint-md: map.get($grid-breakpoints, md);
$grid-breakpoint-lg: map.get($grid-breakpoints, lg);
$grid-breakpoint-xl: map.get($grid-breakpoints, xl);

// nav header footer height
$nav-header-height: 120px;
$nav-footer-height: 60px;

// $contents-card-max-width: 1140px;
$contents-card-max-width: 1200px;
$contents-card-min-height: 240px;
